.route, .route a {
  color: #606060;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
    
.route a {
  cursor: pointer;
  text-decoration: none;
}
  
.main-container {
  width: auto;
  height: auto;
  padding: 15px 15px 15px 15px;
  background: #FFFFFF;
  border-color: #D6D6D6;
  border-width: 1px;
  border-style: solid;
  border-radius: 16px 16px 16px 16px;
  margin-top: 15px;
}
  
.title {
  display: flex;
  align-items: center;
}
  
.container-title {
  color: #444444;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 22px;
  line-height: 1.28;
  display: inline-flex;
  align-items: center;
}
  
.container-icon {
  width: 30px;
  height: 30px;
  color: #444444;
}
  
.filter-container {
  display: flex;
  align-items: center;
  background: #F3F3F3;
  padding: 15px 15px 15px 15px;
  border-radius: 8px;
  margin-top: 10px;
}

.list-memberships{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.membership {
  color: #606060;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}

.memberships {
  height: 33px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 1px;
  -webkit-text-fill-color: #606060;
  font-family: "Roboto";
}

.select-days {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 10px;
}

.date {
  color: #606060;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}

.medium {
  color: #606060;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}

.medium {
  color: #606060;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin: 0 5px;
}

.start-day,
.end-day {
  height: 33px;
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 1px;
  color: #606060;
  font-family: "Roboto";
  padding: 5px;
  box-sizing: border-box;
  width: auto;
}

.search-bar {
  display: flex;
  height: 33px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #606060;
  border: 1px solid #000000;
  margin-top: 25px;
  margin-left: 10px;
  background-color: #FFFFFF;
}

.clean-button {
  display: flex;
  height: 33px;
  align-items: center;
  padding: 5px 10px;
  background: #FFFFFF;
  color: #606060;
  border-color: 1px solid #000000;
  border-radius: 1px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 23px;
}
  
.cleaning-service-icon {
  width: 20px;
  height: 20px;
  color: #929292;
  margin-right: 10px;
}

.apply-filters-icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-top: 22px;
  color: #606060;
}

.register-client-button {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  gap: 5px;
  padding: 8px 8px 8px 8px;
  background: #7EC744;
  border-color: #FFFFFF00;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px 7px 7px 7px;
  font-family: "Roboto";
  color: #FFFFFF;
  margin: 20px 0px 20px 0px;
}

.add-icon {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
}

.table-container {
  width: auto;
  height: auto;
  padding: 15px 15px 15px 15px;
  background: #FFFFFF;
  border-color: #D6D6D6;
  border-width: 1px;
  border-style: solid;
  border-radius: 16px 16px 16px 16px;
  display: flex;
  flex-direction: column;
}

.table-clients {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-clients thead {
  font-weight: bold;
}

.table-clients  tbody tr:nth-child(even) {
  background-color: #F8F8F8;
}

.table-clients th,
.table-clients td {
    padding: 12px;
    border-bottom: 1px solid #EBEBEB;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  width: auto;
  align-items: flex-start;
}

.modal-content {
  display: flex;
  padding: 20px 20px 20px 20px;
  background: #FFFFFF;
  border-color: #D6D6D6;
  border-width: 1px;
  border-style: solid;
  border-radius: 16px 16px 16px 16px; 
  height: auto; 
}

.modal-title,
.form-photo-title {
  color: #444444;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: -0.2px;
}

.form-container {
  flex: flex;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.form-full-name,
.form-phone,
.form-observation,
.form-branch,
.form-username {
  display: flex;
  flex-direction: column;
}

.form-full-name {
  width: 250px;
}
.form-phone {
  width: 125px;
  margin-left: 10px;
}

.form-observation,
.form-branch,
.form-username {
  width: 385px;
  margin-top: 10px;
}

.form-checkbox {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.form-checkbox-text {
  color: #444444;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  margin-left: 5px;
}

.form-full-name-title,
.form-phone-title,
.form-observation-title, 
.form-branch-title,
.form-username-title {
  color: #444444;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
}

.form-full-name-input,
.form-phone-input,
.form-observation-textarea,
.form-branch-input,
.form-username-input {
  padding: 6px 8px 6px 8px;
  background: #FFFFFF;
  color: #000000;
  border-color: #D6D6D6;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px 3px 3px 3px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
}

.form-observation-textarea {
  max-height: 100px;
}

.divider {
  margin: 10px 10px 10px 10px;
}

.photo-container img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.img-placeholder {
  width: 152px;
  height: 152px;
  background: #F7F6F6;
  border-color: #FFFFFF;
  border-width: 2px;
  border-style: solid;
  border-radius: 25px 25px 25px 25px;
}

.input-error {
  border: 1px solid red;
  background-color: #ffcccc;
}

.add-button,
.cancel-button {
  width: auto;
  height: auto;
  padding: 0px 10px 1px 10px;
  border-radius: 3px 3px 3px 3px;
  text-align: center;
  border: none;
  width: 130px;
  height: 40px;
  cursor: pointer;
}

.add-button {
  background: #444444;
}
.cancel-button {
  background: #EBEBEB;
  margin-left: 10px;
}

.add-text,
.cancel-text {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
}

.add-text{
  color: #FFFFFF;
}

.cancel-text {
  color: #444444;
}

.buton-action-container {
  display: flex; 
  flex-direction: row;
}

.assign-membership-button,
.modify-button,
.delete-button {
  display: flex;
  width: auto;
  height: 33px;
  padding: 4px 4px 4px 4px;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px 7px 7px 7px;
  align-items: center;
}

.assign-membership-button {
  background: #C78344;
  border-color: #FFFFFF00;
}

.modify-button {
  background: #C7A244;
  border-color: #FFFFFF00;
  margin: 0px 5px 0px 5px;
}

.delete-button {
  background: #C74444;
  border-color: #FFFFFF00;
}

.assign-membership-text {
  color: #FFFFFF;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 10px;
  line-height: 1.3;
}

.modify-icon,
.delete-icon {
  width: 24px;
  height: 24px;
  color: #FFFFFF;
}

.row-start-tex,
.row-end-tex {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  width: 120px;
}

.membership-text,
.start-text,
.end-text {
  color: #444444;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  text-align: left;
}

.membership-start,
.membership-end {
  height: 33px;
}