<main>
  <!-- sidebar -->
  <div class="sidebar-container" *ngIf="router.url !== '/login'">
    <div class="sidebar">
      <div class="sidebar-header" [class.collapsed]="!isOpen">
        <mat-icon class="sidebar-toggle-icon" (click)="toggleSidebar()">
          {{ isOpen ? 'close' : 'menu' }}
        </mat-icon>
        <span *ngIf="isOpen" class="sidebar-title">Iron Revolution Center</span>
      </div>

      <div class="sidebar-menu" [class.collapsed]="!isOpen">
        <nav>
          <ul>
            <li>
              <a [routerLink]="['/main-dashboard']">
                <mat-icon class="sidebar-icon">home</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Dashboard</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/statistics-overview']">
                <mat-icon class="sidebar-icon">bar_chart</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Estadísticas</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/clients-management']">
                <mat-icon class="sidebar-icon">people</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Clientes</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/memberships-management']">
                <mat-icon class="sidebar-icon">calendar_today</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Membresías</span>
              </a>
            </li>
            <li>
              <a [routerLink]="['/exercises-management']">
                <mat-icon class="sidebar-icon">fitness_center</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Ejercicios</span>
              </a>
            </li>
            <li *ngIf="isAdmin">
              <a [routerLink]="['/employees-management']">
                <mat-icon class="sidebar-icon">badge</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Empleados</span>
              </a>
            </li>
            <li *ngIf="isAdmin">
              <a [routerLink]="['/branches-management']">
                <mat-icon class="sidebar-icon">business</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Sucursales</span>
              </a>
            </li>
            <li *ngIf="isAdmin">
              <a [routerLink]="['/users-management']">
                <mat-icon class="sidebar-icon">lock</mat-icon>
                <span *ngIf="isOpen" class="sidebar-text">Usuarios</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- main content area -->
  <div class="main-container">
    <!-- header -->
    <div class="header" [class.collapsed]="!isOpen" *ngIf="router.url !== '/login'">
      <span *ngIf="!isOpen" class="header-title">Iron Revolution Center</span>
      <button (click)="logout()">Cerrar sesión</button>
      

      <div class="user-session">
        <div class="user-info">
          <span class="user-session-full-name">{{ user?.nombre_Usuario ?? '' }}</span>
          <span class="user-session-nip">{{ user?.nip ?? '' }}</span>
        </div>
        <img class="user-session-photo">
      </div>
    </div>

    <!-- content -->
    <div class="content">
        <router-outlet></router-outlet>
    </div>
  </div>
</main>